.topnav {
    overflow: hidden;
    background-color:blanchedalmond;
    text-align: center;
    padding: 20px ;
  }
  .topnav a {
    color: #d1c8c8;
    text-align: center;
    padding: 14px 30;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    color: rgb(233, 42, 42);
  }
  .Logo{
    height: 60px;
  width: 60px;
  border-radius: 100%;
  }
  .usrlogo{
    height: 30px;
    width: 30px;
    border-radius: 100%;
  }
 